<nav class="bg-slate-900 p-3 text-white " >
	<section class="flex justify-between max-w-7xl mx-auto">
		<a>
			<h1 class="text-2xl  font-semibold font-mono m-4" routerLink="/">Task management app</h1>
		</a>
		<div class="justify-end flex m-4 items-center">
			<a *ngIf="userId" class="px-3 text-xl" routerLink="/">Home</a>
			<a *ngIf="!userId" class="px-3 text-xl" routerLink="/login">Login</a>
			<a *ngIf="!userId" class="px-3 text-xl" routerLink="/register">Register</a>
			<button *ngIf="userId" class="px-3 text-xl" (click)="userLogout()">Logout</button>
		</div>
	</section>
</nav>